body {
	background: #E5E5E5;
	background-image: url('/assets/img/img_bg.png');
}

.610_82 {
	overflow: hidden;
}

.container {
	width: 1400px;
	height: 968px;
	position: absolute;
}

.e520_26 {
	background-image: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 0.6499999761581421) 100%);
	width: 1400px;
	height: 968px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.e613_84 {
	width: 1026px;
	height: 968px;
	position: absolute;
	left: 0px;
	top: 0px;
	background-image: url('../img/img_bg.png');
	background-repeat: no-repeat;
	background-size: contain;
}

.e610_72 {
	background-image: linear-gradient(0deg, rgba(22.31249962002039, 22.31249962002039, 22.31249962002039, 1) 0%, rgba(0, 0, 0, 0) 100%);
	width: 1400px;
	height: 968px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.e610_81 {
	width: 247px;
	height: 28px;
	position: absolute;
	left: 45px;
	top: 923px;
}

.e610_75 {
	color: rgba(207.1875, 207.1875, 207.1875, 1);
	width: 217px;
	height: 28px;
	position: absolute;
	left: 30px;
	top: 0px;
	font-family: Rhodium Libre;
	text-align: left;
	font-size: 16px;
	letter-spacing: 0;
}

.e610_80 {
	width: 20px;
	height: 20px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.610_77 {
	border: 2px solid rgba(185.00000417232513, 185.00000417232513, 185.00000417232513, 1);
}

.e610_77 {
	width: 10px;
	height: 11.25px;
	position: absolute;
	left: 10px;
	top: 8.75px;
}

.610_78 {
	border: 2px solid rgba(185.00000417232513, 185.00000417232513, 185.00000417232513, 1);
}

.e610_78 {
	width: 6.25px;
	height: 20px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.610_79 {
	border: 2px solid rgba(185.00000417232513, 185.00000417232513, 185.00000417232513, 1);
}

.e610_79 {
	width: 10px;
	height: 5px;
	position: absolute;
	left: 10px;
	top: 0px;
}

.botao {
	width: 180px;
	height: 40px;
	position: absolute;
	left: 46px;
	top: 605px;
}

.e609_32 {
	background-color: rgba(245.43749392032623, 245.43749392032623, 245.43749392032623, 1);
	width: 180px;
	height: 40px;
	position: absolute;
	left: 0px;
	top: 0px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.e609_38 {
	color: rgba(46.75000101327896, 41.68541617691517, 41.68541617691517, 1);
	width: 60px;
	height: 22px;
	position: absolute;
	left: 60px;
	top: 9px;
	font-family: Inter;
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e609_46 {
	width: 397px;
	height: 82px;
	position: absolute;
	left: 48px;
	top: 497px;
}

.609_31 {
	border: 2px solid rgba(207.1875, 207.1875, 207.1875, 1);
}

.e609_31 {
	width: 396px;
	height: 50px;
	position: absolute;
	left: 1px;
	top: 32px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.609_45 {
	border: 2px solid rgba(224.18749898672104, 224.18749898672104, 224.18749898672104, 1);
}

.e609_45 {
	width: 20px;
	height: 20px;
	position: absolute;
	left: 22px;
	top: 47px;
}

.e609_52 {
	color: rgba(224.18749898672104, 224.18749898672104, 224.18749898672104, 1);
	width: 125px;
	height: 32px;
	position: absolute;
	left: 0px;
	top: 0px;
	font-family: Inter;
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e609_47 {
	width: 396px;
	height: 91px;
	position: absolute;
	left: 45px;
	top: 380px;
}

.609_48 {
	border: 2px solid rgba(207.1875, 207.1875, 207.1875, 1);
}

.e609_48 {
	width: 396px;
	height: 50px;
	position: absolute;
	left: 0px;
	top: 41px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.e609_54 {
	width: 25px;
	height: 20px;
	position: absolute;
	left: 19px;
	top: 56px;
}

.e609_55 {
	width: 25px;
	height: 20px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.e609_56 {
	width: 25px;
	height: 20px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.e609_57 {
	width: 8.088234901428223px;
	height: 1.6666666269302368px;
	position: absolute;
	left: 4.41162109375px;
	top: 9.1669921875px;
}

.e609_58 {
	background-color: rgba(224.18749898672104, 224.18749898672104, 224.18749898672104, 1);
	width: 8.088234901428223px;
	height: 1.6666666269302368px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.e609_59 {
	width: 8.088234901428223px;
	height: 1.6666666269302368px;
	position: absolute;
	left: 4.41162109375px;
	top: 5px;
}

.e609_60 {
	background-color: rgba(224.18749898672104, 224.18749898672104, 224.18749898672104, 1);
	width: 8.088234901428223px;
	height: 1.6666666269302368px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.e609_61 {
	width: 25px;
	height: 20px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.e609_62 {
	width: 25px;
	height: 20px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.e609_63 {
	background-color: rgba(224.18749898672104, 224.18749898672104, 224.18749898672104, 1);
	width: 25px;
	height: 20px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.e609_64 {
	width: 16.176469802856445px;
	height: 1.6666666269302368px;
	position: absolute;
	left: 4.41162109375px;
	top: 13.3330078125px;
}

.e609_65 {
	background-color: rgba(224.18749898672104, 224.18749898672104, 224.18749898672104, 1);
	width: 16.176469802856445px;
	height: 1.6666666269302368px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.e609_66 {
	width: 5.2941179275512695px;
	height: 6.666666507720947px;
	position: absolute;
	left: 15.294189453125px;
	top: 4.66650390625px;
}

.e609_67 {
	background-color: rgba(224.18749898672104, 224.18749898672104, 224.18749898672104, 1);
	width: 5.2941179275512695px;
	height: 6.666666507720947px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.login {
	color: rgba(224.18749898672104, 224.18749898672104, 224.18749898672104, 1);
	width: 169px;
	height: 21px;
	position: absolute;
	left: 0px;
	top: 0px;
	font-family: Inter;
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e609_39 {
	width: 71px;
	height: 65px;
	position: absolute;
	left: 45px;
	top: 285px;
}

.e609_33 {
	border-radius: 500px;
	background-color: rgba(47.8125, 47.21484526991844, 47.21484526991844, 0.6000000238418579);
	width: 71px;
	height: 65px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.609_33 {
	border: 1px solid rgba(171.06250405311584, 171.06250405311584, 171.06250405311584, 1);
}

.e609_37 {
	width: 20px;
	height: 20px;
	position: absolute;
	left: 25px;
	top: 22px;
}

.609_35 {
	border: 2px solid rgba(219.93750303983688, 219.93750303983688, 219.93750303983688, 1);
}

.e609_35 {
	width: 11.428571701049805px;
	height: 8.88888931274414px;
	position: absolute;
	left: 4.28564453125px;
	top: 0px;
}

.609_36 {
	border: 2px solid rgba(219.93750303983688, 219.93750303983688, 219.93750303983688, 1);
}

.e609_36 {
	width: 20px;
	height: 7.777777671813965px;
	position: absolute;
	left: 0px;
	top: 12.22216796875px;
}

.e610_71 {
	width: 642px;
	height: 968px;
	position: absolute;
	left: 758px;
	top: 0px;
	background-image: url(images/image_bg.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.e610_74 {
	color: rgba(210.37499696016312, 209.49844479560852, 209.49844479560852, 1);
	width: 392px;
	height: 52px;
	position: absolute;
	left: 45px;
	top: 86px;
	font-family: Rhodium Libre;
	text-align: left;
	font-size: 50px;
	letter-spacing: 0;
}